{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Studio Zephyr' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">  11 </span>

            </div>
            <div class="col-6 alert-success">
                <span class="display-3"> 22 </span>
            </div>
        </div>
    </div>

    <p>
        <strong>Admin</strong>
    </p>


    {# <pre>{{ dashboard_controller_filepath }}</pre> #}

    <pre>

    </pre>
{% endblock %}
